html {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Times New Roman' !important;
  color: white;
  min-height: 100%;
  max-height: 100%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  padding: 16px 44px 16px 16px;
  border-radius: 10px;
  border: solid 1px white;
  color: white !important;
  font-family: 'Times New Roman' !important;
  font-size: 18px;
  text-decoration: none;
  background-image: url('./assets/drive.svg');
  background-position: 92%;
  background-repeat: no-repeat;
  width: 100%;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
  justify-content: flex-start !important;
}

.Heading {
  font-size: 36px;
}

.HomeGraphics {
  width: 100%;
  margin: 50% 0;
}

.BottomContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: stretch;
}

.BottomContainer button {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  padding: 16px;
  border-radius: 10px;
  border: solid 1px white;
  color: rgb(0, 0, 0) !important;
  font-family: 'Times New Roman' !important;
  font-size: 18px;
  text-decoration: none;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  width: 100%;
}

.BottomContainer button img {
  width: 21px;
}

.BottomContainer button:empty {
  display: none;
}

.PDFCard {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  background-color: #141414;
  border-radius: 15px;
  justify-self: flex-start !important;
  height: 250px;
  font-size: 18px;
  font-weight: 400;
}

.PDFTitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardUpperSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PDFCard embed {
  border-radius: 10px;
  height: 100%;
}

embed {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: #14141400;
}